<style>
    footer {
        padding: 2px 0;
        background-color: #202329;
        position: relative;
        z-index: 3;
    }

    footer>p {
        text-align: center;

        color: white;
    }
</style>

<footer>

    <p>
        Designed by Seun
    </p>
</footer>