<style>
    .full-over {
        min-height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        position: relative;
        z-index: 2;
    }

    h1,
    p {
        color: white;

    }

    h1 {
        font-size: 7rem;
        letter-spacing: 2px;
    }

    p {
        font-size: 1.8rem;
    }

    .nav-link {
        display: none;
    }

    body {
        height: 100vh;
        overflow: hidden;
        background-image: url('./img/rick_and_morty_attacking_4k_hd-2560x1440.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
</style>
<%-include ('./_nav.ejs')%>
<section>
    <div class="container">
        <div class=" full-over">
            <h1>Error</h1>
            <p>Something Went Wrong</p>
            <div class="button">
                <a href="#" class="btn go-back orange darken-3 waves-effect waves-light">Go BAck</a>
            </div>
        </div>
    </div>
</section>
<div class="cover"></div>
<script>
    const back = document.querySelector('.go-back')
    back.addEventListener('click', (e) => {
        e.preventDefault()
        window.history.go(-1)
    })
</script>